nav{
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-10);
    padding: 2rem;
  gap: 1rem;


}


.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;

}
@media (max-width: 600px) {
  .recipes {
    grid-template-columns: 1fr;
  }
}

.recipe-card {
  padding: 16px;
  border: 1px solid #ccc;
  text-align: center;
}

@media (max-width: 600px) {
  .recipe-card {
    grid-template-columns: 1fr;
  }

  .recipe-card .recipe__img {
    height: 220px;
  }
}
