
header nav { 
    height: 50px;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
      background-color: #7f21eb;
}


header nav a {
  position: relative;
  text-decoration: none;
  color: #f3f3f3;

}

header nav a::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color:  rgb(237, 237, 7);
  transform-origin: left;
  transition: all 0.4s ease;
}

header nav a:hover{
 color: rgb(237, 237, 7);
}

header nav a:hover::after{
  width: 100%;
}

header nav a.active{
  color: rgb(237, 237, 7);
}

header nav a.active::after{
  width: 100%;
}


.logo-container {
    /* margin-right: 35%; */
    font-weight: 500;
    cursor: pointer;
    font-family: 'Bigelow Rules';
    color: rgb(237, 237, 7);


}

.logo-container span {
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
}

.container__navLink{
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
}

.container__navLink{
  gap: 0.5rem;
}


.dark-mode{
    background-color: #1e1d1d;;
    color: white;
}

.light-mode{
    background-color: white;
    color: black;
}











